.DS_Store
.idea/
.github/workflows.upstream/
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
.vscode/extensions/**/out/
extensions/**/dist/
src/vs/base/browser/ui/codicons/codicon/codicon.ttf
/out*/
/extensions/**/out/
/packages/**/out/
build/node_modules
coverage/
test_data/
test-results/
test-results.xml
vscode.lsif
vscode.db
/.profile-oss
/cli/target
/cli/openssl
product.overrides.json
*.snap.actual
*.tsbuildinfo
.vscode-test
vscode-telemetry-docs/
test-output.json
